*{
    margin: 0;
}
body{
    background-color: white;
}
.circle{
    background-color: red;
    border-radius: 50%;
    height: 60vh;
    width: 60vh;
    margin: auto;
    margin-top: 20vh;
}