.card{
    width: 30vw;
    height: 10vw;
    background-color: aqua;
    border: 1vw green solid;
    padding: 5vw;
    margin: 20px 20px 20px 25.90vw;
}
body{
    background-color: indianred;
}
h2{
    color: violet;
    text-align: center;
}
p{
    text-align: center;
}
h3{
    text-align: center;
}
h3{
    text-align: center;
}
.card:hover{
    transform: scale(1.3);
}